/*components*/
@import "components/staus-bar.css";
@import "components/no-mobile.css";
@import "components/screen-header.css";
@import "components/users-list.css";
@import "components/nav-bar.css";
@import "components/chats.css";
@import "components/chat.css";
/*screens*/
@import "screens/welcome.css";
@import "screens/variables.css";

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
