.welcome-header {
  margin: 90px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#sign-form {
  display: flex;
  flex-direction: column;
  margin-right: 300px;
}

#sign-form p {
  font-size: 25px;
  font-weight: 900;
  color: aliceblue;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#sign-form span {
  font-size: 12.8px;
  font-weight: 500;
  color: aliceblue;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#sign-form a {
  text-decoration: none;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.login-id input {
  margin-bottom: 10px;
  width: 300px;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

.login-id input:focus {
  border: 4px solid rgb(18, 34, 255, 0.8);
  outline: none;
}

.login-pw input {
  margin-bottom: 10px;
  width: 300px;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

.login-pw input:focus {
  border: 5px solid rgb(18, 34, 255, 0.8);
  outline: none;
}

.login-bt input {
  margin-top: 5px;
  width: 300px;
  height: 40px;
  border-radius: 15px;
  font-weight: 500;
  font-size: 20px;
  background-color: rgba(12, 69, 241, 0.5);
}

#img-ba {
  position: fixed;
  top: 0px;
  left: 0px;
  min-width: 100%;
  min-height: 100%;
  z-index: -99;
}
