.nav {
  position: fixed;
  bottom: 0px;
  width: 100%;
  left: 0px;
  box-sizing: border-box;
  padding: 10px 0px;
  padding-right: 50px;
  background-color: rgba(204, 204, 204, 0.2);
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.nav__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.nav__btn i {
  color: rgb(49, 49, 49);
}
