#no-mobile {
  position: absolute;
  z-index: 99;
  background-color: rgb(0, 140, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  top: 0px;
  left: 0px;
  min-width: 100%;
  min-height: 100%;
}

@media screen and (max-width: 650px) {
  #no-mobile {
    display: none;
  }
}
