.users-list {
  display: flex;
}

.users-list__column {
  display: flex;
}

.users-list__me {
  width: 80px;
  height: 80px;
  border-radius: 30px;
}

.users-list__text {
  display: flex;
  align-items: center;
  margin-left: 15px;
  font-size: 25px;
}

.list-line {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px 0px;
}

.list-line__text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.users-list__tim {
  width: 80px;
  height: 80px;
  border-radius: 30px;
}

.users-list__column2 {
  display: flex;
  margin-top: 15px;
}

.users-list__an {
  width: 80px;
  height: 80px;
  border-radius: 30px;
}

.users-list__cr {
  width: 80px;
  height: 80px;
  border-radius: 30px;
}
